https://docs.python.org/3/library/re.html

## RegEx

- Search is case-sensetive

In [1]:
pip install re

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re
WARNING: You are using pip version 22.0.4; however, version 23.3.2 is available.
You should consider upgrading via the 'C:\Users\pc\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import re

In [3]:
re

In [4]:
string = """
Lorem ipsum dolor 453 sit amet. @gmailEst enim @gmailautem est libero ipsa sit laboriosam256 iusto aut aperiam molestiae. 
        """

In [5]:
s1,s2 = 'old\new', r'old\new'
print('From s1',s1); print('From s2',s2)

From s1 old
ew
From s2 old\new

### Create a pattern to search from string
   - **r** used for row string

In [6]:
pattern = re.compile(r'\d\d\d')

### RegEx Functions

- **search( )**:	Returns a first Match object if there is a match anywhere in the string

In [7]:
result = pattern.search(string)
print(result)

<re.Match object; span=(19, 22), match='453'>

- **finditer( )**:	Returns a list object containing all matches
  - group( ) return only matches value

In [8]:
results = pattern.finditer(string)
for result in results: print(result.group(), end = ',')

453,256,

In [9]:
for result in results: 
    print(result)

- **findall( )**:	Returns a list containing all matches

In [10]:
results = pattern.findall(string)
for result in results: print(result, end=',')

453,256,

- **split( )**:	Returns a list where the string has been split at each match

In [11]:
# Split the string at the first white-space character
string = """Lorem ipsum dolo250r goll foo"""
matches = re.split("\s", string, 1)
print(matches)

['Lorem', 'ipsum dolo250r goll foo']

In [12]:
# Split at each white-space character
string = """Lorem ipsum dolo250r goll foo"""
matches = re.split("\s", string)
print(matches)

['Lorem', 'ipsum', 'dolo250r', 'goll', 'foo']

- **sub( )**: Replaces one or many matches with a string

In [13]:
#Replace all white-space characters with the digit "$":
string = """Lorem ipsum dolo250r goll foo"""
matches = re.sub("\s",'$', string)
print(matches)

Lorem$ipsum$dolo250r$goll$foo

In [14]:
#Replace the first two occurrences of a white-space character with the digit 9:
string = """Lorem ipsum dolo250r goll foo"""
matches = re.sub("\s", "$", string, 2)
print(matches)

Lorem$ipsum$dolo250r goll foo

In [15]:
text = 'my income in 2019 is $30000 but now it is $500000'
pattern = re.compile(r"\$\d[0-9]+")
matches = pattern.sub("******", text)
print(matches)

my income in 2019 is ****** but now it is ******

### RegEx Special Sequences

- A special sequence is a ` \ ` followed by one of the characters in the list below, and has a special meaning.         
- The "r" in the beginning is making sure that the string is being treated as a "raw string".

<table>
  <tbody>
    <tr>
      <th style="width:120px">Character</th>
      <th>Description</th>
      <th style="width:120px">Example</th>
    </tr>
    <tr>
      <td>\A</td>
      <td>Returns a match if the specified characters are at the beginning of the string</td>
      <td>"\AThe"</td>
    </tr>
    <tr>
      <td>\b</td>
      <td>Returns a match where the specified characters are at the beginning or at the "raw string")</td>
      <td>"\bain"<br>r"ain\b"</td>
    </tr>
    <tr>
      <td>\B</td>
      <td>Returns a match where the specified characters are present, but NOT at the beginning (or at as a "raw string")</td>
  <td>r"\Bain"<br>r"ain\B"</td>
    </tr>
    <tr>
      <td>\d</td>
      <td>Returns a match where the string contains digits (numbers from 0-9)</td>
      <td>"\d"</td>
    </tr>
    <tr>
      <td>\D</td>
      <td>Returns a match where the string DOES NOT contain digits</td>
      <td>"\D"</td>
    </tr>
    <tr>
      <td>\s</td>
      <td>Returns a match where the string contains a white space character</td>
      <td>"\s"</td>
    </tr>
    <tr>
      <td>\S</td>
      <td>Returns a match where the string DOES NOT contain a white space character</td>
      <td>"\S"</td>
    </tr>
    <tr>
      <td>\w</td>
      <td>Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)</td>
      <td>"\w"</td>
    </tr>
    <tr>
      <td>\W</td>
      <td>Returns a match where the string DOES NOT contain any word characters</td>
      <td>"\W"</td>
    </tr>
    <tr>
      <td>\Z</td>
      <td>Returns a match if the specified characters are at the end of the string</td>
      <td>"Spain\Z"</td>
    </tr>
  </tbody>
</table>

### RegEx Metacharacters

<table >
  <tbody>
    <tr>
      <th style="width:120px">Character</th>
      <th>Description</th>
      <th style="width:120px">Example</th>
    </tr>
    <tr>
      <td>[]</td>
      <td>A set of characters</td>
      <td>"[a-m]"</td>
    </tr>
    <tr>
      <td>\</td>
      <td>Signals a special sequence (can also be used to escape special characters)</td>
      <td>"\d"</td>
    </tr>
    <tr>
      <td>.</td>
      <td>Any character (except newline character)</td>
      <td>"he..o"</td>
    </tr>
    <tr>
      <td>^</td>
      <td>Starts with</td>
      <td>"^hello"</td>
    </tr>
    <tr>
      <td>` $ `</td>
      <td>Ends with</td>
      <td>"planet$"</td>
    </tr>
    <tr>
      <td>*</td>
      <td>Zero or more occurrences, same characters</td>
      <td>"he.*o"</td>
    </tr>
    <tr>
      <td>+</td>
      <td>One or more occurrences(digit or alphabet)</td>
      <td>"he.+o"</td>
    </tr>
    <tr>
      <td>?</td>
      <td>Zero or one occurrence, but optional characters</td>
      <td>"he.?o"</td>
    </tr>
    <tr>
      <td>{}</td>
      <td>Exactly the specified number of occurrences</td>
      <td>"he.{2}o"</td>
    </tr>
    <tr>
      <td>{3}</td>
      <td>Exactly the 3 specified number of occurrences</td>
      <td>"he.{3}o"</td>
    </tr>
    <tr>
      <td>{min, max}</td>
      <td>Exactly the min to max specified number of occurrences</td>
      <td>"he.{2,5}o"</td>
    </tr>
    <tr>
      <td>{,5}</td>
      <td>Exactly the min 0 to max 5 specified number of occurrences</td>
      <td>"he.{,5}o"</td>
    </tr>
    <tr>
      <td>|</td>
      <td>Either or, use | in ( ) group to find</td>
      <td>"falls|stays"</td>
    </tr>
    <tr>
      <td>()</td>

In [16]:
text = "Hi how are you?"
pattern = re.compile(r"^(Hi).*\?$")
matches = pattern.finditer(text)
for i in matches:
    print(i.group())

Hi how are you?

### Special Characters

| Special Characters            | Used in RE as                | Meaning                           |
|-------------------------------|-----------------------------|-----------------------------------|
| `$`                           | /$                      | dollar                            |
| `*`                           | /*             | star / asterisk                   |
| `+`                           | /+                        | plus                              |
| `?`                           | /?               | question mark                     |
| `{}`                          | /{ }           | open/close flower bracket         |
| `[]`                          | /[ ]  | open/close square bracket         |
| `\`                           | /\                   | backslash                         |
| `|`                           | /|                        | pipe                              |
| `()`                          | /( )      | open/close parenthesis            |

### RegEx Sets
- A set is a set of characters inside a pair of square brackets [] with a special meaning

<table class="ws-table-all notranslate">
  <tbody>
    <tr>
      <th style="width:120px">Set</th>
      <th>Description</th>
      <th style="width:75px">Example</th>
    </tr>
    <tr>
      <td>[arn]</td>
      <td>Returns a match where one of the specified characters (<code class="w3-codespan">a</code>,
        <code class="w3-codespan">r</code>, or <code class="w3-codespan">n</code>) is present</td>
      <td>"[a-m]"</td>
    </tr>
    <tr>
      <td>[a-n]</td>
      <td>Returns a match for any lowercase character, alphabetically between
        <code class="w3-codespan">a</code> and <code class="w3-codespan">n</code></td>
      <td>"[a-n]"</td>
    </tr>
    <tr>
      <td>[^arn]</td>
      <td>Returns a match for any character EXCEPT <code class="w3-codespan">a</code>,
        <code class="w3-codespan">r</code>, and <code class="w3-codespan">n</code></td>
      <td>"[^arn]"</td>
    </tr>
    <tr>
      <td>[0123]</td>
      <td>Returns a match where any of the specified digits (<code class="w3-codespan">0</code>,
        <code class="w3-codespan">1</code>, <code class="w3-codespan">2</code>, or <code class="w3-codespan">3</code>) are present</td>
      <td>"[0123]"</td>
    </tr>
    <tr>
      <td>[0-9]</td>
      <td>Returns a match for any digit between
        <code class="w3-codespan">0</code> and <code class="w3-codespan">9</code></td>
      <td>"[0-9]"</td>
    </tr>
    <tr>
      <td>[0-5][0-9]</td>
      <td>Returns a match for any two-digit numbers from <code class="w3-codespan">00</code> and <code class="w3-codespan">59</code></td>
      <td>"[0-5][0-9]"</td>
    </tr>
    <tr>
      <td>[a-zA-Z]</td>
      <td>Returns a match for any character alphabetically between
        <code class="w3-codespan">a</code> and <code class="w3-codespan">z</code>, lowercase OR uppercase</td>
      <td>"[a-zA-Z]"</td>
    </tr>
    <tr>
      <td>[+]</td>
      <td>In sets, <code class="w3-codespan">+</code>, <code class="w3-codespan">*</code>,
        <code class="w3-codespan">.</code>, <code class="w3-codespan">|</code>,
        <code class="w3-codespan">()</code>, <code class="w3-codespan">$</code>,<code class="w3-codespan">{}</code> has no special meaning,
        so <code class="w3-codespan">[+]</code> means: return a match for any <code class="w3-codespan">+</code> character in the string</td>
      <td>"[+]"</td>
    </tr>
  </tbody>
</table>

### Serch statements

#### Print all dates

In [17]:
text = """Hi, today is 17-Apr-2021, yesterday was 16-Apr-2021 and tomorrow will be 18-Apr-2021.
My schedule is free on 26-04-2021, 06.05.2021 and 16/Jun/2021 and 02/Apr/2026.
You can reach out to me at myname2020@dummy.com or ask_help@demo.net & conference@demo.co.in
You can also call me at one of the following no's +6032-007 1212, +6099.100 3344, 017-9998800 etc."""

In [18]:
datePattern = re.compile(r'\d{2}-[a-zA-Z]{3}-\d{4}')
matches = datePattern.findall(text)
matches

['17-Apr-2021', '16-Apr-2021', '18-Apr-2021']

In [19]:
datePattern = re.compile(r"\d{2}/[a-zA-Z]{3}/\d{4}")
matches = datePattern.findall(text)
matches

['16/Jun/2021', '02/Apr/2026']

In [20]:
datePattern = re.compile(r"\d{2}[.]\d{2}[.]\d{4}")
matches = datePattern.findall(text)
matches

['06.05.2021']

- Create a pattern to find all date from string

In [21]:
allDatePattern = re.compile(r"\d{2}[-./]([a-zA-Z]{3}|\d{2})[-/.]\d{4}")
matches = allDatePattern.findall(text)
matches

['Apr', 'Apr', 'Apr', '04', '05', 'Jun', 'Apr']

In [22]:
rn= re.compile(r'\d{2}[-./]([a-zA-Z]{3}|\d{2})[-./]\d{4}')
matches = rn.finditer(text)
for i in matches:
    print(i.group(), end = ' , ')

17-Apr-2021 , 16-Apr-2021 , 18-Apr-2021 , 26-04-2021 , 06.05.2021 , 16/Jun/2021 , 02/Apr/2026 ,

<table>
    <tbody>
        <tr>
            <td>
                <bold>Expression</bold>
            </td>
            <td>
                <p><a>\d{2}</a>
                </p>
            </td>
            <td>
                <p>[-./]</p>
            </td>
            <td>
                <p>([a-zA-Z]{3}|\d{2})</p>
            </td>
            <td>
                <p>[-/.]</p>
            </td>
            <td>
                <p>\d{4}</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Description</bold>
            </td>
            <td>
                <p>Two digit</p>
            </td>
            <td>
                <p>Set of -,. And /</p>
            </td>
            <td>
                <p>Group of 3 alphabets or 2 digits</p>
            </td>
            <td>
                <p>Set of -,. And /</p>
            </td>
            <td>
                <p>Four digits</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Result</bold>
            </td>
            <td>
                <p>17</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>Apr</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>2021</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Result</bold>
            </td>
            <td>
                <p>16</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>Apr</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>2021</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Result</bold>
            </td>
            <td>
                <p>18</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>Apr</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>2021</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Result</bold>
            </td>
            <td>
                <p>26</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>04</p>
            </td>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>2021</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Result</bold>
            </td>
            <td>
                <p>06</p>
            </td>
            <td>
                <p>.</p>
            </td>
            <td>
                <p>05</p>
            </td>
            <td>
                <p>.</p>
            </td>
            <td>
                <p>2021</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Result</bold>
            </td>
            <td>
                <p>16</p>
            </td>
            <td>
                <p>/</p>
            </td>
            <td>
                <p>Jun</p>
            </td>
            <td>
                <p>/</p>
            </td>
            <td>
                <p>2021</p>
            </td>
        </tr>
        <tr>
            <td>
                <bold>Result</bold>
            </td>
            <td>
                <p>02</p>
            </td>
            <td>
                <p>/</p>
            </td>
            <td>
                <p>Apr</p>
            </td>
            <td>
                <p>/</p>
            </td>
            <td>
                <p>2026</p>
            </td>
        </tr>
    </tbody>
</table>

#### Print all emails

In [23]:
text = """Hi, today is 17-Apr-2021, yesterday was 16-Apr-2021 and tomorrow will be 18-Apr-2021.
My schedule is free on 26-04-2021, 06.05.2021 and 16/Jun/2021 and 02/Apr/2026.
You can reach out to me at myname2020@dummy.com or ask_help@demo.net & conference@demo.co.in
You can also call me at one of the following no's +6032-007 1212, +6099.100 3344, 017-9998800 etc."""

In [24]:
allEmailPattern = re.compile(r"\w+@[a-z]+\.[a-z]{3}")
matches = allEmailPattern.finditer(text)
for i in matches:
    print(i.group(), end = " , ")

myname2020@dummy.com , ask_help@demo.net ,

In [25]:
allEmailPattern = re.compile(r"\w+@[a-z]+\.([a-z]{3}|[a-z]{2}\.[a-z]{2})")
matches = allEmailPattern.finditer(text)
for i in matches:
    print(i.group(), end=" , ")

myname2020@dummy.com , ask_help@demo.net , conference@demo.co.in ,

<table>
    <tbody>
        <tr>
            <td>Expression&nbsp;</td>
            <td>\w+&nbsp;</td>
            <td>@&nbsp;</td>
            <td>
                <p>[a-z]+</p>
            </td>
            <td>
                <p>\.&nbsp;</p>
            </td>
            <td>
                <p>[a-z]{3}|[a-z]{2}\.[a-z]{2})&nbsp;</p>
            </td>
            <td>r"\w+@[a-z]+\.([a-z]{3}|[a-z]{2}\.[a-z]{2})"&nbsp;</td>
        </tr>
        <tr>
            <td>Description&nbsp;</td>
            <td>
                <p>Multiple words or numbers&nbsp;</p>
            </td>
            <td>
                <p>@</p>
            </td>
            <td>
                <p>a to z&nbsp;</p>
            </td>
            <td>dot&nbsp;</td>
            <td>3 words or 2 . 2 words&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Result&nbsp;</td>
            <td>
                <p>myname2020&nbsp;</p>
            </td>
            <td>@&nbsp;</td>
            <td>
                <p>dummy&nbsp;</p>
            </td>
            <td>.&nbsp;</td>
            <td>
                <p>com&nbsp;</p>
            </td>
            <td>&nbsp;myname2020@dummy.com</td>
        </tr>
        <tr>
            <td>Result&nbsp;</td>
            <td>
                <p>ask_help&nbsp;</p>
            </td>
            <td>@&nbsp;</td>
            <td>
                <p>demo&nbsp;</p>
            </td>
            <td>.&nbsp;</td>
            <td>
                <p>net&nbsp;</p>
            </td>
            <td>ask_help@demo.net&nbsp;</td>
        </tr>
        <tr>
            <td>Result&nbsp;</td>
            <td>
                <p>conference&nbsp;</p>
            </td>
            <td>@&nbsp;</td>
            <td>
                <p>demo&nbsp;</p>
            </td>
            <td>.&nbsp;</td>
            <td>
                <p>co.in&nbsp;</p>
            </td>
            <td>conference@demo.co.in&nbsp;</td>
        </tr>
    </tbody>
</table>

In [26]:
# allEmailPattern = re.compile(r"\w+@[a-z]+(\.[a-z]{2,3})+") dot inside group
allEmailPattern = re.compile(r"\w+@[a-z]+\.([a-z]{2,3})+")
matches = allEmailPattern.finditer(text)
for i in matches:
    print(i.group(), end=" , ")

myname2020@dummy.com , ask_help@demo.net , conference@demo.co ,

<table>
    <tbody>
        <tr>
            <td>Expression&nbsp;</td>
            <td>\w+&nbsp;</td>
            <td>@&nbsp;</td>
            <td>
                <p>[a-z]+</p>
            </td>
            <td>
                <p>\.&nbsp;</p>
            </td>
            <td>
                <p>([a-z]{2,3})+</p>
            </td>
            <td>r"\w+@[a-z]+(\.[a-z]{2,3})+"</td>
        </tr>
        <tr>
            <td>Description&nbsp;</td>
            <td>
                <p>Multiple words or numbers&nbsp;</p>
            </td>
            <td>
                <p>@</p>
            </td>
            <td>
                <p>a to z&nbsp;</p>
            </td>
            <td>dot&nbsp;</td>
            <td>3 words or 2 words multiple time&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Result&nbsp;</td>
            <td>
                <p>myname2020&nbsp;</p>
            </td>
            <td>@&nbsp;</td>
            <td>
                <p>dummy&nbsp;</p>
            </td>
            <td>.&nbsp;</td>
            <td>
                <p>com&nbsp;</p>
            </td>
            <td>&nbsp;myname2020@dummy.com</td>
        </tr>
        <tr>
            <td>Result&nbsp;</td>
            <td>
                <p>ask_help&nbsp;</p>
            </td>
            <td>@&nbsp;</td>
            <td>
                <p>demo&nbsp;</p>
            </td>
            <td>.&nbsp;</td>
            <td>
                <p>net&nbsp;</p>
            </td>
            <td>ask_help@demo.net&nbsp;</td>
        </tr>
        <tr>
            <td>Result&nbsp;</td>
            <td>
                <p>conference&nbsp;</p>
            </td>
            <td>@&nbsp;</td>
            <td>
                <p>demo&nbsp;</p>
            </td>
            <td>.&nbsp;</td>
            <td>
                <p>co.in&nbsp;</p>
            </td>
            <td>conference@demo.co.in&nbsp;</td>
        </tr>
    </tbody>
</table>
<!-- DivTable.com -->

#### Print all contact numbers

In [27]:
text = """Hi, today is 17-Apr-2021, yesterday was 16-Apr-2021 and tomorrow will be 18-Apr-2021.
My schedule is free on 26-04-2021, 06.05.2021 and 16/Jun/2021 and 02/Apr/2026.
You can reach out to me at myname2020@dummy.com or ask_help@demo.net & conference@demo.co.in
You can also call me at one of the following no's +6032-007 1212, +6099.100 3344, 017-9998800 etc."""

In [28]:
contactPattern = re.compile(r"\+\d{4}[-.]\d{3} \d{4}")
matches = contactPattern.finditer(text)
for i in matches:
    print(i)

<re.Match object; span=(308, 322), match='+6032-007 1212'>
<re.Match object; span=(324, 338), match='+6099.100 3344'>

In [29]:
contactPattern = re.compile(r"(\+\d)?\d{3}[-.]\d{3}\s?\d{4}")
matches = contactPattern.finditer(text)
for i in matches:
    print(i.group(), end=' , ')

+6032-007 1212 , +6099.100 3344 , 017-9998800 ,

<table>
    <tbody>
        <tr>
            <td>Expression</td>
            <td>
                <p>(\+\d)?</p>
            </td>
            <td>
                <p>\d{3}</p>
            </td>
            <td>[-.]</td>
            <td>\d{3}</td>
            <td>\s?</td>
            <td>\d{4}</td>
            <td></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>+ and 1 digit optional</td>
            <td>3 digits</td>
            <td>- or .</td>
            <td>3digits</td>
            <td>Space optional</td>
            <td>4digit</td>
            <td></td>
        </tr>
        <tr>
            <td>Result</td>
            <td>+6</td>
            <td>032</td>
            <td>-</td>
            <td>007</td>
            <td>Yes</td>
            <td>1212</td>
            <td>+6032-007 1212</td>
        </tr>
        <tr>
            <td>Result</td>
            <td>+6</td>
            <td>
                <p>099</p>
            </td>
            <td>.</td>
            <td>100</td>
            <td>Yes</td>
            <td>3344</td>
            <td>
                <p>+6099.100 3344</p>
            </td>
        </tr>
        <tr>
            <td>Result</td>
            <td></td>
            <td>
                <p>017</p>
            </td>
            <td>-</td>
            <td>999</td>
            <td>No</td>
            <td>8800</td>
            <td>017-9998800</td>
        </tr>
    </tbody>
</table>